.chatPage {
  display: grid;
  place-items: center;
  background-color: #f6f5f5;
  height: 90vh;
}

.chatPage__body {
  display: flex;
  background-color: #ededed;
  border: 1px solid lightgray;
  margin-top: -50px;
  height: 80vh;
  width: 70vw;
}
