.header {
  position: sticky;
  top: 0;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  padding: 0 20% 1rem 10%;
  background-color: white;
  border-bottom: 1px solid #d3e0ea;
  width: calc(80vw - 15px);
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-link {
  // margin: 0 5%;
  padding: 0 5%;
  color: #ae4ccf;
}

.chat-link {
  // margin: 0 5%;
  padding: 0 5%;
  color: #ae4ccf;
}

.favorite-link {
  // margin: 0 5%;
  padding: 0 5%;
}

.profile-link {
  // margin: 0 5%;
  padding: 0 5%;
}
