.header {
  position: sticky;
  top: 0;
  width: 70%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  // margin: 0 0 0 10%;
  padding: 0 20% 1rem 14%;
  background-color: white;
  border-bottom: 1px solid #d3e0ea;
}

a {
  text-decoration: none;
  border: none;
}

// .header-links {
//   : 0 20%;
// }

.home-link {
  // margin: 0 5%;
  padding: 0 5%;
}

.message-link {
  // margin: 0 5%;
  padding: 0 5%;
}

.favorite-link {
  // margin: 0 5%;
  padding: 0 5%;
}

.profile-link {
  // margin: 0 5%;
  padding: 0 5%;
}
