.home {
  margin: 1rem 0 0 0;
  // display: flex;
  // justify-content: center;
}

// .home__header {
//   position: sticky;
//   top: 0;
//   display: block;
// }

.home__contents {
  display: flex;
  justify-content: center;
}
