// .home__header {
//   position: sticky;
//   top: 0;
//   display: block;
// }

.home__contents {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.home__contents-right {
  margin-left: 20px;
}

.home__signup {
  display: flex;
  flex-direction: column;
}

.home__signin {
  display: flex;
  flex-direction: column;
}

.input__signin {
  height: 3rem;
}
