.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}

.sidebar__search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 39px;
  padding: 10px;
}

.sidebar__searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  width: 90%;
  height: 35px;
  border-radius: 20px;
}

.sidebar__searchContainer > .MuiSvgIcon-root {
  color: gray;
  padding: 10px;
}

.sidebar__searchContainer > input {
  border: none;
  margin-left: 10px;
  size: 20;
}

.sidebar__header {
  display: flex;
  justify-content: center;
  padding: 30px;
  border-right: 1px solid lightgray;
}

.sidebar__username {
  margin: 8px 8px;
  font-weight: normal;
}

.sidebar__messages {
  flex: 1;
  background-color: white;
  overflow: scroll;
}
