.sidebarChat {
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}

a {
  text-decoration: none !important;
  color: #ae4ccf;
}

.sidebarChat:hover {
  background-color: #ebebeb;
}

.sidebarChat__info > h2 {
  font-size: 16px;
  margin-bottom: 8px;
}

.sidebarChat__info {
  margin-left: 15px;
}

#sidebarChat__title {
  justify-content: center;
  padding: 0 20px;
}

.sidebarChat__add {
  font-weight: normal;
}
