.post {
  position: relative;
  background-color: white;
  max-width: 500px;
  border: 1px solid lightgray;
  margin-bottom: 45px;

  &:hover .delete__postButton {
    visibility: visible;
  }
}

@media (max-width: $desktop-breakpoint) {
  .post {
    max-width: 450px;
  }
}

.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__text {
  font-weight: normal;
  padding: 20px;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.delete__postButton {
  position: absolute;
  left: 97%;
  visibility: hidden;
  color: gray;

  &:hover {
    color: black;
  }
}

.post__avatar {
  margin-right: 10px;
}

.post__comment-box {
  display: flex;
  margin-top: 10px;
}

.post__comments {
  padding: 20px;
}

.post__input {
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.post__button {
  flex: 0;
  border: none;
  border-top: 1px solid lightgray;
  color: $blue-gray;
}

.comment__wrapper {
  display: flex;
  align-items: center;
}

.comment__wrapper:hover {
  .editComment__button,
  .deleteComment__button {
    visibility: visible;
  }
}

.editComment__button {
  padding-right: 0;
}

.editComment__button,
.deleteComment__button {
  visibility: hidden;
  opacity: 0.5;
  border: none;
  background-color: white;

  &:hover {
    opacity: 1;
  }
}
