.header {
  position: sticky;
  top: 0;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  padding: 0 20% 1rem 10%;
  background-color: white;
  border-bottom: 1px solid $pale-blueGray;
  width: calc(80vw - 15px);
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-link {
  margin: 0 5%;
}

.chat-link {
  margin: 0 5%;
}

@media (max-width: $desktop-breakpoint) {
  .header {
    padding: 0 3% 1rem 3%;
    width: calc(94vw);
  }
  .home-link {
    margin: 0 2% 0 0;
  }

  .chat-link {
    margin: 0 2%;
  }
} ;
