.home__contents {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.home__signup {
  display: flex;
  flex-direction: column;
}

.home__signin {
  display: flex;
  flex-direction: column;
}

.home__login-container {
  display: flex;
  border: solid 1px lightgray;
}

.post-title__container {
  display: flex;
  justify-content: center;
}

@media (max-width: $desktop-breakpoint) {
  .home__contents {
    padding-right: 5px;
  }
}
