// Colors
$light-purple: #ae4ccf;
$light-yellowGreen: #dcf8c6;
$pale-white: #f6f6f6;
$pale-blueGray: #d3e0ea;
$pale-gray: #ebebeb;
$faint-gray: #f6f5f5;
$blue-gray: #6082a3;

// Spacing
$xs-size: 0.5rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
